@font-face {
    font-family: "Katherine";
    src: url(katherine.ttf);
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

h2 {
	font-weight: 300;
	font-size: 22px;
	text-align: center;
	margin: 25px 0 15px 0;
	line-height: 35px;
}

h3 {
	margin: 50px 0 50px 0;
	font-size: 25px;
	color: #444794;
}

div.logo {
	font-size: 20px;
	text-transform: uppercase;
	color: #000;
	margin: 0;
	padding: 30px 0 10px 0;
}

header .topline {
	background: linear-gradient(to right, #585eb5, #4a37ef);
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, .35);
	color: #fff;
	text-align: center;
	/*padding: 15px 0;*/
	line-height: 23px;
	margin-bottom: 40px;
    white-space: nowrap;
}

.topline .toplineelements {
	display: inline-block;
	padding-left: 68px;
	min-height: 40px;
	margin: 15px 0;
}

.topline .location {
	background: url(img/map.png) no-repeat;
	background-size: 40px;
	background-position: 0 center;
}

.topline .phone {
	background: url(img/phone.png) no-repeat;
	background-size: 40px;
	background-position: 0 center;
	line-height: 40px;
}

.topline .phone a {
    color: #fff;
}

.topline .time {
	background: url(img/clock.png) no-repeat;
	background-size: 40px;
	background-position: 0 center;
}

a.brand {
	line-height: 10px;
	background: url(img/logo.png) no-repeat;
	background-size: 90px;
	background-position: 0 center;
	display: inline-block;
	padding-left: 105px;
	min-height: 110px;
	margin-bottom: 35px;
	text-decoration: none;
}

nav .menuline {
	background: linear-gradient(to right, #585eb5, #4a37ef);
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .35);
	color: #fff;
	/*text-align: center;*/
	padding: 10px 50px;
	line-height: 23px;
	font-size: 20px;
}

.navbar {
	border: none;
	margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
 	color: #fff;
}

.navbar-brand, .navbar-nav>li>a {
 	text-shadow: none;;
}

.nav>li>a {
 	padding: 10px 40px 10px 5px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus  {
  	color: #fff;
  	text-decoration: underline;
}


.photo img {
    width: 100%;
}

.notes {
	background: url(img/notes.png) no-repeat;
	background-size: contain;
	height: 350px;
	margin: 70px 0 0 0;
	padding: 90px 50px;
	text-align: left;
	font-family: "Katherine";
	font-size: 30px;
	color: #4d4d4d;
	line-height: 65px;
}

.author {
	text-align: right;
}

.greybackground {
  	background-color: #e6e6e6;
  	padding: 90px 0 60px 0;
}

.greybackground .round h2 {
    padding-bottom: 30px;
}

.therapy {
	background: url(img/therapy.png) no-repeat;
	background-size: contain;
	height: 150px;
	background-position: center;
}

.surgery {
	background: url(img/surgery.png) no-repeat;
	background-size: contain;
	height: 150px;
	background-position: center;
}

.orto {
	background: url(img/orto.png) no-repeat;
	background-size: contain;
	height: 150px;
	background-position: center;
}

.visio {
	background: url(img/visio.png) no-repeat;
	background-size: contain;
	height: 150px;
	background-position: center;
}
a.services {
	color: #000;
}

a:hover.services,
a:focus.services {
	text-decoration: none;
	color: #555abb;
}

.staff {
	margin-bottom: 45px;
}

.staff p {
	font-size: 18px;
	text-align: center;
	margin-bottom: 55px;
}

.staff h2 {
	font-weight: 400;
}

h3.staffheader {
	text-align: center;
}

img.photomarina {
    max-width: 75%;
    height: auto;
    display: block;
    margin: auto;
}

img.doctor2 {
    max-width: 75%;
    height: auto;
    display: block;
    margin: auto;
}

img.doctor3 {
    max-width: 75%;
    height: auto;
    display: block;
    margin: auto;
}

img.nurse {
    max-width: 75%;
    height: auto;
    display: block;
    margin: auto;
}

img.admin {
    max-width: 75%;
    height: auto;
    display: block;
    margin: auto;
}

.contactinfo {
	background: linear-gradient(to right, #585eb5, #4a37ef);
	margin-bottom: 50px;
}

.contactinformation,
.mapcontact {
	height: 470px;
}

.superfluid {
	padding: 0;
}

.contactinformation {
	text-align: center;
	color: #fff;
	padding-top: 40px;

}

.contactinformation h4 {
	font-weight: 300;
	font-size: 22px;
	margin: 0 0 15px 0;
}

.contactinformation p {
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 40px;
	line-height: 40px;
}

.contactinformation hr {
	width: 70%;
	align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

.phonecontact a {
	color: #fff;
}

.workingtime,
.phonecontact {
	margin-bottom: 20px;
}

footer {
	margin-top: 50px;
}

div.logobottom {
	font-size: 15px;
	text-transform: uppercase;
	color: #000;
	margin: 0;
	padding: 27px 0 0 0;
}

a.brandbottom {
	line-height: 10px;
	background: url(img/logo.png) no-repeat;
	background-size: 50px;
	background-position: 0 center;
	display: inline-block;
	padding-left: 60px;
	min-height: 90px;
	/*margin-bottom: 35px;*/
	text-decoration: none;
}
a.brandbottom div {
	font-size: 15px;
}

.about {
	font-size: 15px;
}

.secondcolumn {
	text-align: center;
}

.secondcolumn a,
.thirdcolumn a {
	color: #000;
	font-size: 15px;
	text-decoration: underline;
}

.secondcolumn div,
.thirdcolumn div {
	padding-bottom: 10px;
}

.year {
	text-align: center;
	font-size: 14px;
	margin: 100px 0 100px 0;
}





























